body{
background-color:#f0f2f6;
}

h1{
color:#1f4e79;
text-align:center;
}

.detected{
background-color:#d4edda;
padding:15px;
border-radius:10px;
}

.score{
background-color:#cce5ff;
padding:15px;
border-radius:10px;
}

.missing{
background-color:#f8d7da;
padding:15px;
border-radius:10px;
}